[submodule "clones/navsim"]
	path = clones/navsim
	url = https://github.com/autonomousvision/navsim.git
[submodule "clones/DiffusionDriveV2"]
	path = clones/DiffusionDriveV2
	url = https://github.com/hustvl/DiffusionDriveV2.git
[submodule "clones/SimScale"]
	path = clones/SimScale
	url = https://github.com/OpenDriveLab/SimScale.git
[submodule "clones/lead"]
	path = clones/lead
	url = https://github.com/autonomousvision/lead.git
[submodule "clones/DrivoR"]
	path = clones/DrivoR
	url = https://github.com/valeoai/DrivoR.git
